.hoc-imgages{
    display: grid;
    grid-template-columns: auto auto auto;
    margin: 50px;
}

.hoc-img-text{
    text-align: center;
    margin: 30px auto;
    border: 1px solid black;
    padding: 30px;
    background-color: rgb(255, 251, 245);
    border-radius: 10px;
    width: 300px;
    box-shadow: rgba(255, 255, 255, 0.25) 0px 54px 55px, rgba(255, 255, 255, 0.12) 0px -12px 30px, rgba(255, 255, 255, 0.12) 0px 4px 6px, rgba(255, 255, 255, 0.17) 0px 12px 13px, rgba(255, 255, 255, 0.09) 0px -3px 5px;
}

.hoc-img{
    margin: 10px 0;
}

.hoc-img img{
    height: 240px;
    width: 300px;
}
